/*
Theme Name: Flat
Theme URI: http://www.yoarts.com/wordpress/free-flat-design-wordpress-theme.html
Author: YoArts
Author URI: http://www.yoarts.com/
Description: Flat Design WordPress Theme for Personal Blog
Version: 1.0.0
License: GNU General Public License v3 or later
License URI: http://www.gnu.org/licenses/gpl-3.0.html
Text Domain: flat
Tags: black, orange, white, white, dark, light, two-columns, left-sidebar, post-formats

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.
*/

@import url('assets/css/template.css');

.wp-caption {}
.wp-caption-text {}
.sticky {}
.gallery-caption {}
.bypostauthor {}
.alignright {}
.alignleft {}
.aligncenter {}

.hentry .entry-thumbnail-floated img{
	width:200px;
	float:left;
}
.entry-content.floated {
	padding-left: 210px;
}
#masthead .site-title {
	background-image: url("assets/img/logo.jpg");
	height: 250px;
}