body {
	background: #edeae2;
}

a {
	text-decoration: none !important;
	outline: none !important;
}

.carousel-control {
	top: 50%;
	border: none;
	font-size: 32px;
}

#page {
	width: 1120px;
	background: url(../img/sidebar-bg.gif) repeat-y @white;
}

#secondary {
	width: 300px;
	float: left;
	color: @grayLight;

	a {
		color: @white;
	}

	a:hover,
	a:active {
		color: @grayLight;
	}

	.widget-title {
		text-transform: uppercase;
		color: @orange;
	}
}

#site-navigation {
	ul {
		margin: 0;
		list-style: none;
	}

	li {
		border-bottom: 1px solid #444;
		display: block;

		&[class^="icon-"]:before,
		&[class*=" icon-"]:before {
			border-right: 1px solid #444;
			display: block;
			float: left;
			height: 40px;
			line-height: 40px;
			text-align: center;
			text-decoration: inherit;
			width: 41px;
		}
	}

	a {
		line-height: 40px;
		padding: 0 25px;
		color: @grayLight;
		font-family: @headingsFontFamily;
	}

	a:hover,
	a:focus {
		color: @white;
	}
}

.widget-area {
	.widget {
		padding: 40px 25px;
		border-bottom: 1px solid #444;
	}

	.widget-title {
		font-size: @baseFontSize;
		color: @white;
		line-height: 20px;
		margin: 0 0 10px;
	}

	ul, ol { margin: 0 0 0 15px;}
}

#masthead {
	.site-title {
		height: 80px;
		margin: 0;
		background: url(../img/logo.png) no-repeat center;
		text-indent: -9999px;
		border-bottom: 1px solid #444;
	}

	.site-description {
		display: none;
	}
}

#primary {
	width: 820px;
	float: right;
}

.hentry {
	border-bottom: 1px solid @grayLighter;
	padding: 80px 80px 70px;
	position: relative;

	.entry-thumbnail,
	.entry-media {
		margin: -81px 0 70px -80px;
		width: 820px;
		height: 460px;
		background: @grayDark;
	}

	.entry-thumbnail img {
		width: 820px;
	}

	&.format-video .entry-media iframe {
		width: 820px !important;
		height: 460px !important;
	}

	.entry-title a {
		color: @grayDark;

		&:hover, &:focus {
			color: @gray;
		}
	}

	.entry-meta {
		color: @grayLight;

		.sep {
			margin: 0 10px;
		}

		a {
			color: @grayLight;
			font-weight: normal;
		}

		a:hover, a:focus {
			color: @gray;
		}
	}

	.entry-content,
	.entry-summary {
		padding: 30px 0 0;
	}

	.more-link {
		display: block;
		padding: 30px 0 0;
		color: @grayDark;
		font-family: @headingsFontFamily;

		&:hover, &:focus {
			color: @gray;
		}
	}

	.page-links {
		padding: 30px 0 0;
		font-family: @headingsFontFamily;

		a {
			color: @orange;
		}

		a:hover, a:focus {
			color: @grayDark;
		}
	}
}

.paging-navigation {
	padding: 40px 80px 80px;
	position: relative;
	.clearfix();

	.nav-current-page {
		left: 0;
		line-height: 40px;
		position: absolute;
		right: 0;
		text-align: center;
	}

	a {
		background: #232323;
		line-height: 40px;
		width: 40px;
		height: 40px;
		display: block;
		text-align: center;
		color: @white;
		.border-radius(2px);

		&:hover, &:focus {
			background: #2e2e2e;
			color: @grayLight;
		}
	}

	.nav-previous {
		float: left;
		position: relative;
		z-index: 1;
	}

	.nav-next {
		float: right;
		position: relative;
		z-index: 1;
	}
}

.single {
	.author-info {
		padding: 30px 80px;
		position: relative;
		border-bottom: 1px solid @grayLighter;

		.author-avatar {
			position: absolute;
			top: 50%;
			margin-top: -40px;
		}

		.author-description {
			padding-left: 120px;
		}

		.author-link {
			clear: both;
			display: block;
			margin: 10px 0 0;
		}
	}

	.post-navigation {
		border-bottom: 1px solid @grayLighter;
		padding: 15px 20px;
		.clearfix();

		.screen-reader-text {
			display: none;
		}

		.nav-links a[rel=next] {
			float: right;
		}
	}
}

#comments {
	padding: 80px;

	.comments-title {
		margin: 0;
		color: @orange;
		font-size: @baseFontSize;
		line-height: 20px;
		text-transform: uppercase;
	}

	.comment-list {
		margin: 0 0 40px;
		list-style: none;
	}

	.children {
		margin: 0 0 0 120px !important;
		list-style: none;
	}

	.comment {
		position: relative;
		border-bottom: 1px solid @grayLighter;

		.comment-body {
			padding: 40px 0 40px 120px;
		}

		.avatar {
			position: absolute;
			left: 0;
		}

		.fn {
			font-family: @headingsFontFamily;
			font-size: @baseFontSize * 1.25;
		}

		.says {
			display: none;
		}

		.comment-meta {
			margin: 0 0 10px;
		}

		.comment-metadata {
			position: absolute;
			right: 0;
			top: 40px;
			font-size: 11px;

			a {
				color: @grayLight;
			}

			a:hover, a:focus {
				color: @gray;
			}
		}
	}

	.children {
		margin: 40px 0 0;
		border-top: 1px solid @grayLighter;

		.children .comment .comment-metadata {
			margin: 10px 0 0;
		    position: relative;
		    top: auto;
		}

		li:last-child {
			border-bottom: none;
			padding-bottom: 0;
		}
	}

	.trackback,
	.pingback {
		position: relative;
		padding: 40px 0;
		border-bottom: 1px solid @grayLighter;
	}

	.edit-link {
		margin: 0 0 0 10px;
		padding: 0 0 0 10px;
		border-left: 1px solid @grayLighter;
	}

	.comment-navigation {
		border-bottom: 1px solid @grayLighter;
		margin: -25px 0 30px;
		padding: 0 0 15px;
		.clearfix();

		.screen-reader-text {
			display: none;
		}

		.nav-next {
			float: right;
		}
	}
}

#respond {

	.comment & {
		padding: 40px 0;
		border-top: 1px solid @grayLighter;
	}

	#reply-title {
		margin: 0 0 20px;
		color: @orange;
		font-size: @baseFontSize;
		line-height: 20px;
		text-transform: uppercase;

		small a {
			float: right;
			color: @gray;
		}
	}

	#commentform {
		margin: 0;

		.form-submit {
			margin: 0;
		}

		textarea {
			width: 100% !important;
			min-height: 120px;
			height: 120px;
			.box-sizing(border-box);
		}

		.form-allowed-tags {
			display: none;
		}

		.comment-form-comment label {
			display: none;
		}
	}
}

#searchform {
	margin: 0;

	.field {
		height: 40px;
		width: 100%;
		padding: 10px 15px;
		margin: 0;
		border: none;
		.box-sizing(border-box);
	}

	.assistive-text,
	.submit {
		display: none;
	}
}